<main class="main">
  <div class="navbar">
    <img src="assets/logo.png"/>
    <ul>
      <li><a href="calendar.asp">Calendar</a></li>
      <li><a href="products.asp">Products</a></li>
      <li><a href="contact.asp">Contact</a></li>
      <li><a href="about.asp">About Us</a></li>
    </ul>
  </div>
  <div class="catch-page">
    <p class="intro">research management</p>
    <p class="catchphrase1"> Simplifying Research... </p>
    <p class="catchphrase2"> Amplifying Results</p>
    <div class="centered-text">
      <p class="summary"> Empower clinical research teams to streamline workflows, centralize data, and enhance collaboration, enabling faster insights and confident decision-making </p>
    </div>
    <app-glowscript></app-glowscript>
  </div>
  <div class="products">
    <p class="products-p">Unlock AI-Powered Solutions</p>
    <div class="slideshow">
      <div class="slide fade">
        <div class="first product-box">
          <h3> Automated Exploratory Data Analysis </h3>
          <button class="view-product">View Product</button>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
      <div class="slide fade">
        <div class="second product-box">
          <h3> AI for Literature Review </h3>
          <button class="view-product">View Product</button>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
      <div class="slide fade">
        <div class="third product-box">
          <h3> Correlation Analysis </h3>
          <button class="view-product">View Product</button>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
      <div class="slide fade">
        <div class="fourth product-box">
          <h3> Prediction Analysis </h3>
          <button class="view-product">View Product</button>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
      <div class="slide fade">
        <div class="fifth product-box">
          <h3> Population Analysis </h3>
          <button class="view-product">View Product</button>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
      <div class="slide fade">
        <div class="first product-box">
          <h3> Generative AI Models </h3>
          <button class="view-product">View Product</button>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
      <div class="slide fade">
        <div class="second product-box">
          <h3> Image-Based Models </h3>
          <button class="view-product">View Product</button>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
      <div class="slide fade">
        <div class="third product-box">
          <h3> Drug Discovery Models </h3>
          <button class="view-product">View Product</button>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
      <div class="slide fade">
        <div class="fourth product-box">
          <h3> Automation of Relational Databases </h3>
          <button class="view-product">View Product</button>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
      <div class="slide fade">
        <div class="fifth product-box">
          <h3> AI for Personalized Medicine </h3>
          <button class="view-product">View Product</button>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
  </div>
</main>

<router-outlet />
